@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 30rem;
  background: #a7a7a7;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.flow-content > * + * {
  margin-top: 1em;
}

.container button {
  padding: 1em 5em;
  border: none;
  background: #4f7942;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.container button:hover {
  opacity: 0.9;
}

.gray {
  background: #dadada !important;
}
