<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Furn</title>
  </head>
  <body>
    <header>
      <img src="img/logo.png" alt="logo" class="logo" />
      <nav>
        <input type="checkbox" id="menu" />
        <div class="menu-bar">
          <label for="menu" class="menu-label"
            >Menu
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="32"
              viewBox="0 96 960 960"
              width="32"
            >
              <path
                d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
              />
            </svg>
          </label>
        </div>

        <div class="links-container">
          <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="navbar__outer">
        <div class="search">
          <input type="text" placeholder="Search products" />
          <i class="bx bx-search"></i>
        </div>

        <a href="#">My Account</a>
        <div class="bag">
          <i class="bx bx-shopping-bag"></i>
          <div class="zero">0</div>
        </div>
      </div>
    </header>
  </body>
</html>
