@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  max-width: 40rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border-radius: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;

  @media only screen and (max-width: 400px) {
    max-width: 30rem;
  }
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 38%;
  width: 100%;
  background-color: #4070f4;
  z-index: -1;
}
.image {
  height: 20rem;
  width: 20rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #4070f4;

  @media only screen and (max-width: 400px) {
    height: 15rem;
    width: 15rem;
  }
}
.image__photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card .name {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 2rem;
  @media only screen and (max-width: 400px) {
    font-size: 1.9rem;
    margin-top: 1rem;
  }
}
.profile-card .job {
  font-size: 1.5rem;
  font-weight: 400;
  @media only screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
}
.profile-card .menu-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  @media only screen and (max-width: 400px) {
    margin-top: 1rem;
    gap: 2rem;
  }
}
.menu-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  border-radius: 50%;

  @media only screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
}
.buttons {
  margin-top: 2.5rem;
  display: flex;
  gap: 2.5rem;
}
.button {
  padding: 1rem 3rem;
  color: #fff;
  font-weight: 500;
  border: none;
  background-color: #4070f4;
  border-radius: 2rem;
  transition: all 0.2s;
}
.button:hover {
  background-color: #0e4bf1;
}
.analytics {
  display: flex;
  margin-top: 2rem;
}
.data {
  font-size: 1.7rem;
  padding: 0 2rem;
}
.data:not(:last-child) {
  border-right: 2px solid #e7e7e7;
}
