@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  line-height: 1.3;
  font-family: "Oswald", sans-serif;
}

header {
  background: #111111;
  padding: 1em 1em 0 1em;
}

.products {
  display: flex;
  justify-content: flex-end;
  gap: 0.2em;
  color: #fff;
  text-transform: uppercase;
}

.search {
  display: flex;
  margin-top: 0.5em;
}

.search input {
  flex-basis: 80%;
  background: #111111;
  border: 1px solid #dadada;
}

.search button {
  border: none;

  color: #fff;
  background: #fabe12;
  text-transform: uppercase;
  padding: 0.3em 1.5em;
}

#menu {
  display: none;
}

nav {
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  padding: 0.1em 0;
  margin-top: 1.5em;
}
.menu-bar {
  margin-left: auto;
  color: #dadada;
  font-size: 2rem;
  text-align: right;
}

.menu-bar i {
  border: 1px solid #dadada;
  border-radius: 3px;
}

.links {
  display: none;
  text-align: center;
  text-transform: uppercase;
}

.links li:first-child a {
  color: #fabe12;
}

.links a {
  display: inline-block;
  text-decoration: none;
  color: #bfbfbf;
}

.links a:hover {
  color: #fff;
}

.links a:last-child {
  margin-bottom: 1em;
}

#menu:checked ~ .links {
  display: initial;
}

/* hero */
.hero-container {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 1)),
    url(./img/header.jpg);
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container h2 {
  color: #fabe12;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.65rem;
}

.hero-container h3 {
  text-align: center;
  color: #dadada;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.1em;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0 1em 0 1em;
  letter-spacing: 0.2em;
}

.hero-container .robot {
  font-size: 2.6rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-top: 2rem;
}

.hero-container .factory {
  line-height: 1;
  font-size: 2.6rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

/* media queries */

@media (min-width: 40em) {
  .container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0;
  }

  /* header */

  header {
    padding-top: 2em;
  }

  .container-box {
    display: flex;
    justify-content: space-between;
  }

  nav {
    border: 1px solid #262626;
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 2em;
  }

  .menu-bar {
    display: none;
    margin: 0;
    padding: 0;
  }

  .links {
    display: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-top: 1.6rem;
  }

  /* hero */

  .hero {
    background: linear-gradient(#111111 90%, #fff 20%);
  }

  .hero-container .hero-text {
    transform: translateX(20rem);
  }
}
