@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1;
  margin: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  padding: 5em 1.5em;
}

/* hero */

.hero {
  text-align: center;
  color: hsl(300, 43%, 22%);
}

.heading h2 {
  font-size: 2.2rem;
}

.heading p {
  margin-top: 1.5em;
  color: #a7a7a7;
}

.ratings {
  margin: 2.5em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.ratings-box {
  padding: 1em 0;
  background: hsl(300, 24%, 96%);
  border-radius: 0.5rem;
}

.ratings-box .stars i {
  color: #fabe12;
}

.ratings-box p {
  margin-top: 0.5rem;
  font-weight: 600;
}

/* testimonial */
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.card {
  display: flex;
  flex-direction: column;
  background: hsl(300, 43%, 22%);
  color: #fff;
  border-radius: 0.5rem;
  padding: 1.5em;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 1em;
}

.card-info img {
  border-radius: 50%;
  width: 15%;
}

.card-name p {
  color: hsl(303, 10%, 53%);
  margin-top: 0.2em;
}

.card > p {
  margin-top: 1.5em;
}

/* media queries */
@media (min-width: 40em) {
  .container {
    max-width: 70rem;
    margin: 0 auto;
  }
  .hero {
    display: flex;
    gap: 5em;
    justify-content: space-between;
    align-items: center;
  }

  .heading {
    flex-basis: 30%;
    text-align: left;
  }

  .heading h2 {
    font-size: 2.5rem;
  }

  .heading p {
    font-size: 1.1rem;
  }

  .ratings {
    display: inline-block;
  }

  .ratings-box {
    display: flex;
    gap: 2em;
    flex-grow: 0;
    flex-basis: 100%;
    padding: 1em 5em;
  }

  .flow-content > * + * {
    margin-top: 1em;
  }

  .spacer-1 {
    transform: translateX(-10rem);
  }

  .spacer-2 {
    transform: translateX(-5rem);
  }

  /* testimonial */
  .testimonial {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
  }

  .space-up-1 {
    transform: translateY(2rem);
  }

  .space-up-2 {
    transform: translateY(4rem);
  }
}
