* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Red hat Display";
  background-image: url(/images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  max-width: 40rem;
  margin: 10rem auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 500px) {
    margin: 2rem auto;
    max-width: 30rem;
  }
}

.order__photo {
  width: 100%;
}
.order__main {
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.order__title {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.order__description {
  font-size: 1.4rem;
  color: hsl(224, 23%, 55%);
  margin-top: 2rem;
  line-height: 2rem;
}
.order__plan {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: hsl(225, 100%, 98%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.order__plan-logo {
  margin-right: 1.5rem;
}
.order__plan-amount {
  margin-right: auto;
}
.order__plan-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.order__plan-price {
  font-size: 1.5rem;
  color: hsl(224, 23%, 55%);
}
.order__plan-link,
.order__plan-link:link,
.order__plan-link:visited {
  color: hsl(245, 75%, 52%);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}
.order__payment {
  background-color: hsl(245, 75%, 52%);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.order__payment-link,
.oder__payment-link:link,
.order__payment-link:visited {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.order__payment-cancel {
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 10px;
}
.order__payment-link-cancel,
.oder__payment-link-cancel:link,
.order__payment-link-cancel:visited {
  color: hsl(224, 23%, 55%);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
